First Install the riskchanges package from pip then run the following codes..

In [1]:
import sys
sys.path.append(r"F:\SDSS\1. code\django\RiskChanges")

In [2]:
from RiskChanges import computeExposure
from RiskChanges import ComputeLoss
from RiskChanges import ComputeRisk
from RiskChanges import ComputeMultiHazardRisk
from RiskChanges import ComputeMultiElementRisk

1. Calculating Exposure for the datasets using database.

In [3]:
#Defining input datasets..
con="postgresql://postgres:********@203.159.29.45:5432/sdssv2" #YOUR DATABASE CONNECTION IN SPECIFIED FORMAT
earid= 707 #ID of saved EAR in the database
hazid= 553 #Hazard ID for the selected hazard
expid= 607 #NEw exposure ID for indexing this calculation
#**kwargs= Extra information on aggregation is_aggregated, only_aggregated, adminunit_id, haz_file
haz_file = r"C:\Users\tek\Downloads\hazard-20210907T062516Z-001\hazard\flood_hue_005.tif"

In [4]:
computeExposure.ComputeExposure(con, earid, hazid, expid, haz_file=haz_file)

SELECT * FROM public."projectIndex_earindex" as eartable WHERE eartable.id=707;
SELECT * FROM geoinformatics_center."bu_test_72cs1";

F:\SDSS\1. code\django\RiskChanges\RiskChanges\computeExposure.py:132: UserWarning: The input co-ordinate system for hazard and EAR were differe, we have updated it for now on the fly but from next time please check your data before computation
  warnings.warn("The input co-ordinate system for hazard and EAR were differe, we have updated it for now on the fly but from next time please check your data before computation")

SELECT * FROM public."projectIndex_earindex" as eartable WHERE eartable.id=707;
Polygon

F:\SDSS\1. code\django\RiskChanges\RiskChanges\computeExposure.py:141: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  ear['areacheck'] = ear.geom.area
F:\SDSS\1. code\django\RiskChanges\RiskChanges\computeExposure.py:144: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  ear['geom'] = ear['geom'].centroid

Engine(postgresql://postgres:***@203.159.29.45:5432/sdssv2)
error, trying to append in non related table,please store in same table as Exposure

2. Calculate Loss

#define input values
con, exposureid, lossid, computeonvalue=True, **kwargs # these are the major inputs, where con represents connection parameter, exposureid is the exposure id used for calculation  loss id is the id that is required to save it and computeonvalues is True for all kind of cost related computations; Kwargs can pass information such as is_aggregated, only_aggregated adminunit_id

In [ ]:
ComputeLoss.ComputeLoss(con, exposureid, lossid, computeonvalue=True)

3. Compute Risk

#define Input values
The inputs for risk are lossids as a list (loss id for each return period for same hazard and EAR), riskid to save the risk and aggregation kwargs

In [ ]:
ComputeRisk.ComputeRisk(con, lossids, riskid, **kwargs)

4. compute multi hazard risk

Input for multi hazard risk are computeMulRisk(connstr, groupcombinations, extensions, riskid, **kwargs), wehre kwargs are same as above, the groupcombinations has to follow a specific rule that is specified below, once the group combination is fixed, you also have to provide extension slopes for the curve to interpolate risk curves to match different return periods. riskid is the index key to save data in database. 
# format for group combinations..
# const groupComb = [
#  {
#    group: "group 1",
#    hazards: ["flash flood", "landslide", "mudflow"],
#    weights: [0.5, 0.7, 0.2],
#     interactions:['cascading'],
#    lossid: [[12, 23, 213], [123, 213, 21], [12]],
#  }, {
#    group: "group 2",
#    hazards: ["eq", "jsddkfd"],
#    weights: [0.2, 0.9],
#    lossid: [[12, 23], [123]],
#  },
# ];***

In [ ]:
ComputeMultiHazardRisk.computeMulRisk(connstr, groupcombinations, extensions, riskid, **kwargs)

5. Compute multi-element risk

The input for multi element risk are already computed risk ids, which will be aggregated in to one data for a specific admin unit inputs are combineRisks(connstr,riskids,adminunitid,combinedriskid) RiskIds are all riskids that are to be combined, adminunitid is the admin unit to which data will be aggregated and the combined riskid is to save the data.

In [ ]:
ComputeMultiElementRisk.combineRisks(connstr,riskids,adminunitid,combinedriskid)

# Test Relative Results

In [11]:
import pandas as pd
import numpy as np

In [35]:
df = pd.DataFrame({"class": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],"vlass": ["foob", "foo", "foo", "foo", "foo",
                         "barb", "bar", "bar", "bar"],
                   "value": [0.5, 0.3, 0.4, 0.5, 0.2,
                         0.1, 0.9, 0.2, 0.7],
                   "haz": [1, 2, 2, 3, 3, 4, 5, 6, 7]})

In [52]:
df_ear=pd.DataFrame({"class": ["foo", "foo", "foo", "foo", 
                         "bar", "bar", "bar"],"vlass": ["foob", "foo", "foo", "foo", 
                         "bar", "bar", "barb"],
                   "value": [5, 3, 4, 5,
                         1, 9, 2]
                   })

In [53]:
df

  class vlass  value  haz
0   foo  foob    0.5    1
1   foo   foo    0.3    2
2   foo   foo    0.4    2
3   foo   foo    0.5    3
4   foo   foo    0.2    3
5   bar  barb    0.1    4
6   bar   bar    0.9    5
7   bar   bar    0.2    6
8   bar   bar    0.7    7

In [54]:
df_ear

  class vlass  value
0   foo  foob      5
1   foo   foo      3
2   foo   foo      4
3   foo   foo      5
4   bar   bar      1
5   bar   bar      9
6   bar  barb      2

In [63]:
pvt=pd.pivot_table(df, values='value', index=['class','vlass'],
                                 columns=["haz"], aggfunc=np.sum, fill_value=0)

In [64]:
pvt

haz            1    2    3    4    5    6    7
class vlass
bar   bar    0.0  0.0  0.0  0.0  0.9  0.2  0.7
      barb   0.0  0.0  0.0  0.1  0.0  0.0  0.0
foo   foo    0.0  0.7  0.7  0.0  0.0  0.0  0.0
      foob   0.5  0.0  0.0  0.0  0.0  0.0  0.0

In [66]:
agg=df_ear[['value','class','vlass']].groupby(['class','vlass']).sum()

In [67]:
agg

             value
class vlass
bar   bar       10
      barb       2
foo   foo       12
      foob       5

In [70]:
mrg=pd.merge(pvt,agg,'left',on=['vlass','class'])

In [72]:
mrg[mrg.columns.difference(['value'])]=mrg[mrg.columns.difference(['value'])].div(mrg.value, axis=0)*100

In [73]:
mrg

                1         2         3    4    5    6    7  value
vlass class
bar   bar     0.0  0.000000  0.000000  0.0  9.0  2.0  7.0     10
barb  bar     0.0  0.000000  0.000000  5.0  0.0  0.0  0.0      2
foo   foo     0.0  5.833333  5.833333  0.0  0.0  0.0  0.0     12
foob  foo    10.0  0.000000  0.000000  0.0  0.0  0.0  0.0      5